h1 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
}

h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}

body {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}

nav {
  font-family: 'Alegreya Sans', sans-serif;
}

tel {
  color: #CC5500;
}


.fa-plane {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-anchor {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-subway {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-cocktail {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-hotdog{
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-heart {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-map-pin {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-female   {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-clock   {
  color: #E0E0E0;
  opacity: 0.7;
}

.fa-music   {
  color: #E0E0E0;
  opacity: 0.7;
}


  a:link {
    color: #CC5500;
  }

/* visited link */
:visited {
  color: #CC5500;
}

/* mouse over link */
a:hover {
  color: #A9A9A9;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}
