h1 {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
}

h3 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

h4 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}

body {
    text-align: center;
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #505050;
}

nav {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #E1D8E1;
  text-align: center;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}


.fa-plane {
  color: #741b47;
  opacity: 0.7;
}

.fa-anchor {
  color: #741b47;
  opacity: 0.7;
}

.fa-subway {
  color: #741b47;
  opacity: 0.7;
}

.fa-cocktail {
  color: #dcdcdc;
  opacity: 0.7;
}

.fa-hotdog{
  color: #dcdcdc;
  opacity: 0.7;
}

.fa-heart {
  color: #dcdcdc;
  opacity: 0.7;
}

.fa-map-pin {
  color: #dcdcdc;
  opacity: 0.7;
}

.fa-female   {
  color: #dcdcdc;
  opacity: 0.7;
}

.fa-clock   {
  color: #dcdcdc;
  opacity: 0.7;
}

.fa-music   {
  color: #dcdcdc;
  opacity: 0.7;
}

  a:link {
    color: #741b47;
  }

/* visited link */
  a:visited {
  color: #741b47;
  }

/* mouse over link */
  a:hover {
  color: #912058;
  font-weight: bold;
  font-style: normal;
  }


.landing-page-text {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 15%;
}

.landing-image {
   margin-top:15%;
   margin-bottom:0%;
   background-image: url('Images/Paris_BW.jpg');
   height: 90%;
   width: 90%;
   position: absolute;
   background-position: 0 0;
   background-repeat:no-repeat;
   background-size: cover;
}

.landing-image-sepia {
   margin-top:10%;
   margin-bottom:0%;
   background-image: url('Images/Paris_Sepia.jpg');
   height: 90%;
   width: 90%;
   position: absolute;
   background-position: 0 0;
   background-repeat:no-repeat;
   background-size: cover;
}

.navbar {
  background-color:#E1D8E1;
}

EFEAEA light pink
E7DDE7
